* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

a {
  text-decoration: none;
}

.navbar {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

nav {
  font-size: 20px;
  font-weight: 600;
}

.login-button {
  background-color: rgb(5, 102, 237);
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
  transition: 0.4s background-color;
}

.login-button:hover {
  background-color: rgb(58, 58, 221);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none !important;
  outline: none !important;
}

.nav-link {
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50% !important;
    background-color: rgb(110, 81, 239);
    transform: translateX(-50%);
    width: 0%;
    height: 2px !important;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
  }

  .nav-link:hover::before,
  .nav-link:active::before,
  .nav-link:focus::before {
    width: 100% !important;
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .offcanvas {
    margin-top: 20px;
    border-radius: 10px 0 0 10px;
  }

  .login-button {
    margin-right: 20px;
  }
}

.main-container {
  height: 900px;
  width: 100%;
}

.footerforredus {
  border-radius: 20px 20px 0 0;
}

.footer-links {
  position: relative;
}

.footer-links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50% !important;
  border-radius: 2px;
  background-color: rgb(95, 65, 230);
  transform: translateX(-50%);
  width: 0%;
  height: 4px !important;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.footer-links:hover::before,
.footer-links:active::before,
.footer-links:focus::before {
  width: 100%;
  visibility: visible;
}
